@import '../../../src/css/style.scss';

.insta-background {
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . . ."". . . . ."". . . . .";

    height: 100vh;
    width: 100vw;
    z-index: 0;
    transition: all 0.5s;

    // @media screen and (min-width: 920px) {
    //     -ms-grid-columns: 1fr 1fr 1fr;
    //     -ms-grid-column-span: 3;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-template-rows: 1fr 1fr 1fr;
    // }

    // @media screen and (min-width: 1200px) {
    //     -ms-grid-columns: 1fr 1fr 1fr 1fr;
    //     -ms-grid-column-span: 4;
    //     grid-template-columns: 1fr 1fr 1fr 1fr;
    // }

    // @media screen and (min-width: 1300px) {
    //     -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    //     -ms-grid-column-span: 5;
    //     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // }


    @include for-tablet-landscape-down  {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-column-span: 3;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: ". . . ."". . . ."". . . .";
    }

    @include for-desktop-down {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-column-span: 3;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: ". . . ."". . . ."". . . .";
    }

    @include for-phone-only {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-column-span: 4;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . "". . . "". . . "". . . ";
    }

    &:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        transition: all 0.5s;
    }

    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1);
        z-index: 2;
        transition: all 0.5s;
    }

    &--lights-on {
        background: $yellow;

        &:before,
        &:after {
            opacity: 0;
            z-index: -1;
        }
    }

    .text-overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        justify-content: center;
        align-items: center;
        background: $yellow;
        z-index: 3;
        transition: all 0.5s;

        font-family: $font-family-serif;
        color: $black;
        text-align: center;

        &__inner {
            opacity: 0;
            margin-top: 100%;
            transition: all 0.5s;
            transition-delay: 0.5s;
        }

        &__caption {
            font-family: $font-family-serif;
            font-size: $header-size/3;
        }

        &__date {
            font-family: $font-family-sans-serif;
            font-size: $header-size/4;
        }

        >div {
            position: relative;
            padding: 0 30px;
            margin-top: 20px;

            &:after {
                content: "";
                position: absolute;
                top: -20px;
                left: 50%;
                height: 2px;
                width: 10px;
                background: $black;
                transform: translateX(-50%);
            }
        }
    }

    >div {
        position: relative;
        overflow: hidden;
        min-width: 0;
        opacity: 1;

        &:after {
            content: "";
            display: block;
        }

        &:hover {
            .text-overlay {
                opacity: 1;

                &__inner {
                    opacity: 1;
                    margin-top: 10px;
                }
            }
        }
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-size: cover;
        background-position: center;

        &:first-child {
            z-index: 1;
        }
    }

    &--animate-in {
        >div {
            min-width: 0;
            opacity: 0;

            @for $i from 1 through 15 {
                &:nth-child(#{$i}) {
                    animation: fadeIn 0.6s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-delay: $i * (1s / 15);
                }
            }
        }
    }

    &--hide {
        >div {
            opacity: 1;

            @for $i from 1 through 15 {
                &:nth-child(#{$i}) {
                    animation: fadeOut 0.6s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-delay: $i * (1s / 15);
                }
            }
        }
    }
}



.fade-out {
    opacity: 0;
    transition: all 1s;
    animation-name: fadeOut;
    animation-direction: forwards;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


 @media all and (-ms-high-contrast:none) {
    .insta-background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: all 0.5s;

        > div{
            width: 25%;
            height: 33.33%;
        }
    }
}