.wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    &.click-through {
        pointer-events: none;
    }
}

.brand {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex: 0 0 180px;

    @include for-tablet-portrait-down {
        flex: 0 0 140px;
    }

    img{
        width: 120px;

        @include for-tablet-portrait-down {
            width: 90px;
        }
    }
}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: $white;
    animation: slideIn 2s;
    animation-fill-mode: forwards;
    animation-iteration-count:1; 

    > div {
        text-align: center;
        max-width: 900px;
        margin-bottom: 50px;

        @include for-phone-only {
            padding: 0 20px;
            margin-bottom: 30px;
        }

        @include for-tablet-landscape-down {
            padding: 0 50px;
        }
    }
}

.skills-list {
    max-width: 800px;
    margin: 0 auto;
    
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        margin: 0;

        li {
            flex: 0 0 auto;
            list-style: none;
            margin: 0 8px 14px 8px;
            padding: 0 8px;
            white-space: nowrap;
            border-radius: 30px;
            font-family: $font-family-sans-serif;
            font-size: 14px;
            color: $white;
            background: rgba(#ffffff, 0.3);

            @include for-tablet-portrait-down {
                font-size: 12px;
                margin: 0 8px 10px 8px;
            }

            &.more-info {
                margin-top: 20px;
                padding: 2px 10px;
                font-weight: bold;
                color: #000000;
                background: rgba(#ffffff, 0.6);

                @include for-tablet-portrait-down {
                    margin-top: 10px;
                }
            }
        }
    }
}

.lightSwitch{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    height: 30px;
    width: 30px;
    color: $white;
}

.social-footer {
    display: flex;
    padding: 0 0 20px 0;
    width: 100%;
    height: 50px;
    justify-content: center;

    @include for-tablet-portrait-down {
        height: 40px;
    }

    &__icon{
        width: 32px;
        height: 32px;
        margin: 0 10px;
        color: $white;
        border-radius: 100%;
        background-color: rgba($white, 0.2);
        transition: background 0.3s, color 0.3s; 

        &:hover {
            background: $white;
            color: $black;
        }
    }
}


@keyframes slideIn {
    from {
      opacity: 0;
      margin-top: 50px;
    }
  
    to {
      opacity: 1;
      margin-top: 0;
    }
  }